<style>
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
  .navbar{
    background-image: url(../../../static/images/back.svg);
    font-family: 'Black Ops One', cursive;
    color: black;
    margin-top: 0;
  }
    .navi li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    width: 20px;
    color: black;
}
  .navi li a{
    color: black;
}
  .navi li a:hover{
    color: darkcyan;
  }
  .user_pic{
    border: 1px solid grey;
    border-radius: 10px;
  }
 
</style>
<nav class="navbar navbar-light bg-light">
  <div class="col-md-3">
  <a class="navbar-brand" href="/">V-RATE</a>
  </div>
      
  <div class="col-md-4"></div>
   
  
  <div class="col-md-4">
 
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="navi navbar-right">
    <ul>
        
        <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        
      
        {% if user.is_authenticated %}
        <li><div class="dropdown show">
          <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profile'  %}"><i class="glyphicon glyphicon-user"></i> profile</a>
            <a class="dropdown-item" href="{% url 'logout'%}">Log Out</a>
     
          </div>
        </div>
        </li>
        {% else %}
        <li><a class="btn btn-outline-danger btn-sm" href="{% url 'login' %}">login</a></li>
        
        {% endif %}
    </ul>
</div>
  
  </div>
</nav>

