
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="col-md-3">
  <a class="navbar-brand" href="/">V-rate</a>
  </div>
      
  <div class="col-md-4">
    <form id="search" class="navbar-form " role="search" action="{% url 'search' %}">

      <div class="input-group">
        <input type="text" class="form-control text-center" placeholder="Search" name="query">
        <button type="submit" class="btn search-btn"><i class="glyphicon glyphicon-search"></i></button>
      </div>

    </form>
  </div>
  
  <div class="col-md-4">
 
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="navi navbar-right">
    <ul>
        
        <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
      
        {% if user.is_authenticated %}
        <li><div class="dropdown show">
          <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="user_pic" src="{{user.profile.profile_picture.url}}" alt="profile">
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profile'  %}"><i class="glyphicon glyphicon-user"></i> profile</a>
            <a class="dropdown-item" href="{% url 'logout'%}">Log Out</a>
     
          </div>
        </div>
      </li>
        
        {% endif %}
    </ul>
</div>
  
  </div>
</nav>

