{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<style>
 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
  body{
    font-family: 'Barlow Semi Condensed', sans-serif;
  } 
.prof_pic{
    width: 60%;
    margin-left: 30px;
    border: 1px solid grey;
    border-radius: 150px;
}
.posted img{
    margin-bottom: 20px;
    height:280px ;
    width: 100%;
}
.modal-content{
    padding: 20px;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        
            <img class="prof_pic" src="{{user.profile.profile_picture.url}}" alt="profile_pic">
        </div>
        <div class="col-md-4">
            <h1>{{user.username}} </h1>   
            <p>email: <b>{{user.email}}</b> </p>
            <p>contacts: <b>{{user.profile.contact}}</b></p>
            <br><p>{{user.profile.bio}}</p>


        </div>
        <div class="col-md-4"><br>
           
              <a href="#edit"><button class="btn btn-default"><b>edit profile</b> </button></a>
               
  
            
        </div>
    </div>
    <hr>
    <!--profile update form-->
    <div class="col-md-3"></div>
    <div class="col-md-6" id="edit">
        
                <h4 class="text-center">edit profile</h4>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form|crispy}}
                {{profile_form|crispy}}
                <div class="form-group">
                <input type="submit" class="btn btn-primary" value="update">
                </div>

                <input type="hidden" name="next" value="{{next}}">

            </form>
    </div>
    <div class="col-md-3"></div>
    
    <hr>
    
    </div>
       
  
</div>
{% endblock %}